.content-wrap {
  padding-bottom: var(--space-big);  
}

@media (min-width: 400px) {
  .content-wrap .content {
    font-size: 16px;
    padding: var(--space-small);

  }
}


@media (min-width: 550px) {
  .content-wrap .content {
    font-size: 24px;
    padding: var(--space-medium);
  }
}

@media (min-width: 1020px) {
  .content-wrap .content {
    font-size: 36px;
    padding: var(--space-big);
  }
}
