.footer {
  position: absolute;
  bottom: var(--space-extra-big);
  width: 100%;
  text-align: center;
}

.footer .contact-links {
  display: flex;

}

.footer .contact-links li {
  list-style: none;

}

.footer .contact-links li a {
  text-decoration: none;
  padding: var(--space-extra-small);  
}
