.footer {
  position: absolute;
  bottom: var(--space-big);
  height: var(--space-extra-big);
  width: 100%;
}

.footer .contact-links {
  margin: auto;
  padding-left: var(--space-medium);
  text-align: center;
  font-size: 12px;
}

.footer .contact-links li {
  list-style: none;
  display: inline-block;
}

.footer .contact-links li a {
  text-decoration: none;
  padding: var(--space-small);  
}

#link-facebook {
  color: var(--color-facebook-blue);
}

#link-instagram {
  color: transparent;
  background: -webkit-radial-gradient(30% 107%, circle, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background: -o-radial-gradient(30% 107%, circle, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background-clip: text;
  -webkit-background-clip: text;}

#link-mail {
  color: var(--color-brown);
}

@media (min-width: 750px) {
  .footer .contact-links {
    font-size: 18px;
    padding-left: var(--space-big);
  }
}

@media (min-width: 1000px) {
  .footer .contact-links {
    font-size: 24px;
    padding-left: var(--space-extra-big);
  }
}

