.footer {
  position: absolute;
  bottom: var(--space-big);
  height: var(--space-extra-big);
  width: 100%;
}

.footer .contact-links {
  margin: auto;
  padding: var(--space-medium);
  text-align: center;
}

.footer .contact-links li {
  list-style: none;
  display: inline-block;
}

.footer .contact-links li a {
  text-decoration: none;
  padding: var(--space-extra-small);  
}
