.header {
  text-align: center;
  margin-top: var(--space-small);
}

.header .logo {
  border-radius: 500px;
  border: solid var(--space-small) var(--color-green);
  margin-bottom: var(--space-medium);
  width: 120px;
  height: auto;
}

.header .navbar {
  margin-bottom: var(--space-big);
}

.header .navbar a {
  padding: var(--space-small)
}